.box {
  width: 300px;
  height: 300px;
  background-color: red;
  animation: myAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  15% {
    margin-left: 80%;
    margin-top: 0px;
    background-color: pink;
  }
   
  34% {
    background-color: black;
     margin-left: 80%;
    margin-top: 400px;
  }

  50% {
    margin-top: 400px;
    margin-left: 0;
    background-color: orange;
  }

  75% {
  }

  100% {
    background-color: aqua;
  }
}